.restart-button {
    background-color: rgb(27, 109, 46);
    margin-top: 12px;
    margin-bottom: 10px;
    border: 0pt;
    font-size: 30px;
}
.restart-button:hover {
    color: gainsboro;
    background-color: rgb(27, 109, 46);
}
.marg-top {
    margin-top: 25px;
}
.marg-bot {
    margin-bottom: 15px;
}
h2 {
    color: white;
}
.game-card-img {
    width: 90%;
}