<div class="tab-content">
  <div class="col-xs-12 text-center vert-center tab-pane fade in active" id="start-window">
    <div>
        <img class="game-img" src="../../../assets/StartGame.png">
    </div>
    <div class="game-interface">
        <h1 class="marg-top">
          MEMORY GAME
        </h1>
        <a href="#game-window" data-toggle="pill" class="btn btn-primary marg-top start-button" (click)="gameStart()" data-tid="NewGame-startGame">Начать игру</a>
    </div>
  </div>
  <div id="game-window" class="col-xs-12 text-center tab-pane fade" [ngClass]="{active: !gameMod.gameFinished}" *ngIf="gameMod.gameStarted">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="col-xs-6 text-left">
          <button class="btn btn-primary restart-button text-left" (click)="gameRestart()" data-tid="Menu-newGame">Начать заново</button>
      </div>
      <div class="col-xs-6 text-right">
          <div class="game-score-label">Очки: </div>
          <div class="game-score" data-tid="Menu-scores">{{gameMod.gameScore}}</div>
      </div>
    </div>
    <div class="col-xs-12 col-md-10 col-md-offset-1 card-container text-center" data-tid="Deck">
      <div *ngFor="let card of cards" class="col-xs-2 game-card marg-top">
        <div id={{card.cardID}} class="flip-container" (click)="cardClick(card.cardID)" [ngClass]="{clicked: card.cardHidden}" attr.data-tid={{card.getTestAttrValue()}}>
          <div class="flipper" *ngIf="!card.isSolved">
            <div class="front">
                <img class="game-card-img" src={{card.cardImg}}>
            </div>
            <div class="back">
                <img class="game-card-img" src="../../../assets/Cards/back.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 text-center vert-center tab-pane fade" id="finish-window" [ngClass]="{active: gameMod.gameFinished, in: gameMod.gameFinished}">
    <div>
        <img class="game-img" src="../../../assets/Group 2.png">
    </div>
    <div class="game-interface">
        <h2 class="marg-top">
          Поздравляем!
        </h2>
        <h2>
          Ваш итоговый счет: {{gameMod.gameScore}}
        </h2>
        <a href="#game-window" data-toggle="pill" class="btn btn-primary marg-top start-button" (click)="gameRestart()" data-tid="EndGame-retryGame">Еще раз</a>
    </div>
  </div>
</div>