h1 {
    color: whitesmoke;
}
h2 {
    color: white;
}
.marg-top {
    margin-top: 25px;
}
.marg-bot {
    margin-bottom: 15px;
}
.vert-center {
    margin-top: 20vh;
    margin-bottom: 20vh;
}
.game-img {
    height: 30vh;
}
.game-interface {
    height: 20vh;
}
.start-button {
    font-size: 14pt;
    background-color: whitesmoke;
    color: rgb(27, 109, 46);
    border: 0pt;
}
.start-button:hover {
    background-color: gainsboro;
}
.restart-button {
    background-color: rgb(27, 109, 46);
    margin-top: 12px;
    margin-bottom: 10px;
    border: 0pt;
    font-size: 30px;
    padding-left: 0;
}
.restart-button:hover {
    color: gainsboro;
    background-color: rgb(27, 109, 46);
    border: 0pt;
}
.game-card-img {
    width: 100%;
}
.game-score {
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
    display: inline-block;
    text-align: right;
}
.game-score-label {
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
    display: inline-block;
    text-align: right;
}
.flip-container {
    perspective: 1000px;
}   
.flip-container.clicked .flipper {
    transform: rotateY(180deg);
}  
.flip-container, .front, .back {
    width: 100%;
    height: 172px;
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;   
    position: relative;
}
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateX(0deg);
}
.front {
    z-index: 2;
}
.back {
    transform: rotateY(180deg);
}
button:active, button:focus {
    outline: none !important
}
button::-moz-focus-inner {
    border: 0 !important
}
@media (max-width: 1199px) {
.flip-container, .front, .back {
    height: 133px;
}
}
@media (max-width: 991px) {
.marg-top {
    margin-top: 15px;
}
.marg-bot {
    margin-bottom: 5px;
}
.flip-container, .front, .back {
    height: 119px;
}
}
@media (max-width: 767px) {
.marg-top {
    margin-top: 5px;
}
.game-card {
    padding-left: 10px;
    padding-right: 10px;
}
.game-score {
    font-size: 20px;
}
.game-score-label {
    font-size: 20px;
}
.restart-button {
    font-size: 20px;
}
.flip-container, .front, .back {
    height: 137px;
}
}
@media (max-width: 620px) {
.flip-container, .front, .back {
    height: 103px;
}
.game-img {
    width: 90vw;
    height: auto;
}
}
@media (max-width: 540px) {
.game-card {
    padding-left: 5px;
    padding-right: 5px;
}
.flip-container, .front, .back {
    height: 97px;
}
}
@media (max-width: 460px) {
.game-score {
    font-size: 15px;
}
.game-score-label {
    font-size: 15px;
}
.restart-button {
    font-size: 15px;
}
.flip-container, .front, .back {
    height: 79px;
}
}
@media (max-width: 380px) {
.flip-container, .front, .back {
    height: 61px;
}
}

